.categories {
  display: flex;
  align-items: center;
}
.category_list {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
}
.category {
  position: relative;
  margin: 0 2rem;
  opacity: 0.8;
}
.category:hover {
  opacity: 1;
}
.category_a {
  color: #42240c;
}
.category::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;

  background-color: #42240c;
  transition: transform 200ms ease-in-out;

  transform: scaleX(0);
}
.category:hover::before,
.category:focus::before {
  transform: scaleX(1);
}
.categories_h2 {
  font-family: "Inter SemiBold", sans-serif;
  color: #42240c;
  font-size: 1.5rem;
}
